# Práctica 4 #  
Grupo: Tralalelo Tralala  
Integrantes: Yuriy Chaban Markevych, Pablo García Fernández, Alejandro Rodríguez Giner y Alonso Campillo Martínez

# Introducción  
Aquí explicamos el trabajo y la motivación por hacerlo

# Dataset  
Explicamos el dataset elegido, las columnas que vamos a usar y hacemos la limpieza de los datos (previo análisis). Vamos a tratar todos los campos del dataframe como strings. Si en algún futuro necesitamos tratar los datos como números, simplemente los convertiremos.

In [12]:
import sklearn as skl
import pandas as pd
import numpy as np

_prestamos = pd.read_csv('dataset.csv')

Ahora vamos a mostrar los 4 primeros y los 4 últimos para asegurar que funciona el dataset a la perfección.

In [13]:
display(_prestamos.head(n=4))
display(_prestamos.tail(n=4))
print(_prestamos.columns.tolist())

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

['loan_id', ' no_of_dependents', ' education', ' self_employed', ' income_annum', ' loan_amount', ' loan_term', ' cibil_score', ' residential_assets_value', ' commercial_assets_value', ' luxury_assets_value', ' bank_asset_value', ' loan_status']

Limpiamos el dataframe para que no tengamos problemas con las claves y las columnas en el futuro, concretamente quitando los espacios en blanco 
y quitando el loan_id (ya que es un dato innecesario para la predicción del modelo).

In [14]:
_prestamos.columns = _prestamos.columns.str.strip()
_prestamos = _prestamos.applymap(lambda x: x.strip() if isinstance(x, str) else x)
display(_prestamos.head(n=1))

columnas= ["no_of_dependents", "education", "self_employed", "income_annum", "loan_amount", "loan_term", "cibil_score", "residential_assets_value", "commercial_assets_value","luxury_assets_value","bank_asset_value","loan_status"] 
_prestamos= _prestamos[columnas]

display(_prestamos)

/tmp/ipykernel_4838/2221218118.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  _prestamos = _prestamos.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

Aplicamos ahora One Hot Encoder a los atributos categóricos. Usaremos el método unique para identificar los valores únicos de esa columna, de manera que podamos detectar si hay algun valor erróneo. Finalmente, aplicamos OneHotEncoder para convertir la columna en valores binarios.

In [15]:
self_employed_data= _prestamos['self_employed'].unique() 
print(self_employed_data)

education_data= _prestamos['education'].unique() 
print(education_data)

loan_status_data= _prestamos['loan_status'].unique() 
print(loan_status_data)

columnas_categoricas = ['self_employed', 'education', 'loan_status']

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse_output=False)

categorical_encoded = encoder.fit_transform(_prestamos[columnas_categoricas])

categorical_encoded_df = pd.DataFrame(
    categorical_encoded,
    columns=encoder.get_feature_names_out(columnas_categoricas)
)

_prestamos = pd.concat(
    [_prestamos.drop(columns=columnas_categoricas), categorical_encoded_df],
    axis=1
)

display(_prestamos)

['No' 'Yes']
['Graduate' 'Not Graduate']
['Approved' 'Rejected']

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,self_employed_Yes,education_Not Graduate,loan_status_Rejected
0,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0.0,0.0,0.0
1,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1.0,1.0,1.0
2,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0.0,0.0,1.0
3,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0.0,0.0,1.0
4,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,1000000,2300000,12,317,2800000,500000,3300000,800000,1.0,0.0,1.0
4265,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1.0,1.0,0.0
4266,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,0.0,1.0,1.0
4267,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,0.0,1.0,0.0
4268,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0.0,0.0,0.0

Ahora miramos los atributos numericos. A todas las columnas les aplicaremos la conversión a numérico para evitar que queden representados en otro tipo de datos (por ejemplo, String). Previo a ello miraremos los valores numéricos de cada columna con el fin de observar posibles valores extraños. Además, en el caso de los activos, cantidad solicitada y plazos revisaremos el valor mínimo, pues no debe ser negativo, y en el caso del CIBIL el valor máximo y mínimo, pues es una puntuación que debe estar entre 300 y 900.

In [16]:
def no_negativos(x):
    if x < 0:
        return 0
    else:
        return x

dependents_data= _prestamos['no_of_dependents'].unique() 
print(dependents_data)
_prestamos['no_of_dependents'] = pd.to_numeric(_prestamos['no_of_dependents'], errors='coerce')

annum_data= _prestamos['income_annum'].unique() 
print(annum_data)
_prestamos['income_annum'] = pd.to_numeric(_prestamos['income_annum'], errors='coerce')

loan_amount_data = _prestamos['loan_amount'].unique()
print(loan_amount_data)
_prestamos['loan_amount'] = pd.to_numeric(_prestamos['loan_amount'], errors='coerce')
print(_prestamos['loan_amount'].min())

loan_term_data = _prestamos['loan_term'].unique()
print(loan_term_data)
_prestamos['loan_term'] = pd.to_numeric(_prestamos['loan_term'], errors='coerce')
print(_prestamos['loan_term'].min())

_prestamos['cibil_score'] = pd.to_numeric(_prestamos['cibil_score'], errors='coerce')
cibil_score_data = _prestamos['cibil_score'].unique()
print(cibil_score_data) 
print(_prestamos['cibil_score'].min(), _prestamos['cibil_score'].max()) 

residential_assets_value_data = _prestamos['residential_assets_value'].unique()
print(residential_assets_value_data)
_prestamos['residential_assets_value'] = pd.to_numeric(_prestamos['residential_assets_value'], errors='coerce')
print(_prestamos['residential_assets_value'].min())
#Como tiene valores negativos los convertimos a 0, ya que no pueden ser negativos
_prestamos['residential_assets_value'] = _prestamos['residential_assets_value'].apply(no_negativos)
print(_prestamos['residential_assets_value'].min())


commercial_assets_value_data = _prestamos['commercial_assets_value'].unique()
print(commercial_assets_value_data) 
_prestamos['commercial_assets_value'] = pd.to_numeric(_prestamos['commercial_assets_value'], errors='coerce')
print(_prestamos['commercial_assets_value'].min())


luxury_assets_value_data = _prestamos['luxury_assets_value'].unique()
print(luxury_assets_value_data)
_prestamos['luxury_assets_value'] = pd.to_numeric(_prestamos['luxury_assets_value'], errors='coerce')
print(_prestamos['luxury_assets_value'].min())

bank_asset_value_data = _prestamos['bank_asset_value'].unique()
print(bank_asset_value_data)
_prestamos['bank_asset_value'] = pd.to_numeric(_prestamos['bank_asset_value'], errors='coerce')
print(_prestamos['bank_asset_value'].min())

[2 0 3 5 4 1]
[9600000 4100000 9100000 8200000 9800000 4800000 8700000 5700000  800000
 1100000 2900000 6700000 5000000 1900000 4700000  500000 2700000 6300000
 5800000 6500000 4900000 3100000 2400000 7000000 9000000 8400000 1700000
 1600000 8000000 3600000 1500000 7800000 1400000 4200000 5500000 9500000
 7300000 3800000 5100000 4300000 9300000 7400000 8500000 8800000 3300000
 3900000 8300000 5600000 5300000 2600000  700000 3500000 9900000 3000000
 6800000 2000000 1000000  300000 6600000 9400000 4400000  400000 6200000
 9700000 7100000  600000 7200000  900000  200000 1800000 4600000 2200000
 2500000 8600000 4000000 5200000 8900000 1300000 4500000 8100000 9200000
 2800000 7500000 6400000 6900000 7700000 3200000 7900000 5900000 3400000
 2100000 3700000 5400000 2300000 7600000 6000000 6100000 1200000]
[29900000 12200000 29700000 30700000 24200000 13500000 33000000 15000000
  2200000  4300000 11200000 22700000 11600000 31500000  7400000 10700000
  1600000  9400000 10300000 14600000 19400000 14000000 25700000  1400000
  9800000  9500000 28100000  5600000 24000000 25300000 12000000 22000000
 11900000  3400000  6200000 27200000  7700000  5100000 18100000 24900000
  2300000 13400000 27800000 19100000 20500000 25400000 24700000  7600000
 23000000 19700000 24500000 10600000 30500000 18400000 18200000 18900000
 28900000  7500000 12300000 29100000 10100000 12400000  5000000  1500000
 18600000 18300000 16700000  8400000  6500000 14800000 33500000 29400000
  8900000 31200000 21200000  8600000  8200000  3800000 28300000  8000000
 37600000 21100000 20700000  6400000  2000000  1100000 25000000 10800000
   900000 12900000  4500000 23600000  9700000 35900000  6800000 22100000
 23400000 23200000 15800000 32900000  3200000 18700000 19500000   600000
   800000  2600000  1200000 20800000 22600000  3600000 13900000  5500000
  6700000  8500000   700000 17400000 32100000 11100000 19300000 28800000
 20600000 35000000 33300000  1300000  9600000 15100000  5300000 22300000
 15900000 12800000 35200000 17500000 10500000  4100000 28200000 14300000
 13300000 17900000  9900000 23100000  3100000 10900000 30400000 23300000
 19800000  2900000 13200000 27100000  6000000 16400000 15600000 30100000
 20900000 15400000  3300000 32700000 15200000  7800000 17000000 11300000
 10400000 11000000  1700000 27000000  3500000 32400000 34600000 15500000
 22500000 16200000 29300000  9100000 30900000  4700000  2400000 35400000
 20000000 38800000  8100000 19600000 34300000 22200000 14400000 16800000
 27900000 20400000  4900000  4000000 19900000  1800000 11800000 25500000
  9300000 20200000  1000000 38200000  6600000 33200000 24400000 14100000
 28700000 23500000 17100000  5700000  7000000 16900000 21000000 12600000
 28000000 17200000 24100000 26300000 38400000 32200000 26900000 21900000
 12500000 29800000 17600000 29000000 35300000 14500000 22400000  8700000
  6300000  5200000  2700000 25900000 21500000 15700000  7300000  7200000
 18800000  2100000  4600000  5400000 15300000  2800000 36400000 27500000
 11400000 18500000 26700000  5800000 21400000  2500000 14700000 17300000
 28600000 31900000  8800000 30300000 24800000 19200000 39500000  9000000
 19000000 23900000 31800000 10000000 14200000 22800000 32300000   500000
  6100000  5900000 24600000 16000000 12700000 13100000  6900000 27700000
 29200000 13800000 18000000 27400000 17800000 20100000 32600000  4800000
 11500000 22900000  1900000   300000 16600000 28500000 25100000 25800000
 21800000 30000000 10200000 31700000 26000000  8300000 35500000 33900000
 17700000  4200000  9200000 20300000   400000 34700000 26500000 16500000
 14900000 37000000 27300000 26200000 25600000 16300000 24300000 21600000
 11700000 34200000 34500000 13000000 23700000 30800000  3900000 13600000
 38700000 26600000 37900000 21700000 29600000 23800000 34000000 25200000
 35700000 26100000 16100000 13700000 38000000 37500000  7900000 34400000
 37300000 21300000 28400000 35800000 38500000 34900000 33600000 36800000
 31400000  3000000  4400000 26400000 37800000  7100000 34100000 30200000
 32000000 31300000 12100000 36700000 30600000  3700000 31600000 29500000
 31000000 34800000 36500000 36000000 36300000 31100000 26800000 35100000
 32800000 33100000 32500000 33400000 27600000 33700000 36600000 33800000
 37700000 36100000]
300000
[12  8 20 10  4  2 18 16 14  6]
2
[778 417 506 467 382 319 678 782 388 547 538 311 679 469 794 663 780 736
 652 315 530 551 324 514 696 662 336 850 313 363 436 830 612 691 636 348
 352 712 822 540 342 787 331 677 634 502 435 689 657 590 818 431 841 421
 797 478 669 365 586 784 364 715 693 777 312 340 386 418 735 494 671 697
 801 576 639 470 826 613 713 439 387 402 837 641 489 844 452 366 300 861
 562 463 702 618 633 764 591 719 317 302 879 437 456 647 379 717 545 570
 865 821 859 395 429 565 357 465 479 425 786 564 501 727 894 829 802 543
 772 572 709 481 306 415 548 701 890 704 318 761 524 681 737 638 656 341
 371 886 748 376 873 309 869 534 566 742 824 575 766 888 622 458 327 682
 583 816 455 355 389 870 827 768 707 665 420 471 819 809 744 484 673 695
 473 491 733 434 774 503 598 796 632 770 667 585 851 378 807 831 674 725
 600 536 477 560 539 852 853 729 546 789 325 716 523 345 649 666 813 599
 513 483 308 651 433 403 405 516 468 672 549 450 320 476 573 877 531 474
 499 726 485 708 404 512 441 555 466 427 593 731 451 628 424 381 449 445
 781 721 563 419 372 885 596 349 685 377 620 611 767 592 900 814 755 584
 380 655 833 658 648 730 621 610 339 650 367 847 360 880 608 760 385 710
 711 855 771 338 769 629 699 391 891 775 897 839 868 353 792 635 457 350
 874 411 482 396 303 728 698 490 504 790 860 492 834 443 329 739 867 307
 375 601 756 838 442 808 597 373 552 607 823 328 580 559 587 817 765 383
 843 783 409 625 645 887 791 686 722 407 895 453 627 889 684 578 369 557
 519 741 508 493 664 362 703 758 828 528 623 579 846 589 845 401 522 588
 863 798 668 881 406 799 743 734 812 459 448 517 426 785 472 683 803 361
 464 747 335 394 848 788 509 899 595 322 631 330 567 323 670 609 354 746
 857 556 393 688 384 414 815 854 849 346 856 440 616 461 866 820 544 561
 614 351 399 344 301 763 624 644 642 423 724 706 811 326 488 475 337 511
 810 428 356 594 480 757 321 368 806 832 571 527 333 532 754 835 553 400
 558 515 740 447 745 495 660 883 795 762 462 779 752 305 310 525 661 884
 800 568 842 653 617 460 804 358 836 554 840 430 347 550 878 603 444 875
 343 714 529 446 705 898 487 615 676 605 569 410 753 454 619 858 392 637
 359 723 304 690 862 496 659 542 749 694 574 692 521 541 640 630 535 422
 606 370 700 751 896 577 537 316 412 793 390 397 876 498 872 871 497 759
 413 602 720 505 582 416 510 500 626 654 892 680 750 314 520 776 825 646
 518 805 332 882 604 507 408 374 687 533 581 675 773 718 432 526 398 643
 893 438 486 732 334 738 864]
300 900
[ 2400000  2700000  7100000 18200000 12400000  6800000 22500000 13200000
  1300000  3200000  8100000 15300000  6400000 10800000  1900000  5700000
  2900000  1000000 10300000  9500000  3800000 13100000   900000  7900000
 11500000  4500000  2300000 21800000 20200000  3600000   700000  9700000
  3400000  7000000   100000  8600000 22300000   200000  2200000 13000000
  5400000   800000   500000  8700000 15400000  7400000  1200000  2100000
 19300000 18500000  -100000 23800000  4700000 24400000  1600000  7600000
  6100000  5500000  4000000 18400000  3900000  6500000   600000 14300000
 11600000 17600000 25500000  9400000  5300000 17100000 20400000  5100000
 24100000 19200000  9100000 14700000 25900000   300000 11400000  7800000
 19600000  5600000  7300000 19500000 16100000  1500000 12700000 26800000
 12200000   400000 15100000 11700000  4400000  6600000  1100000  2600000
 14600000 13600000 15900000        0  5800000  3700000 24200000  4900000
  2500000  7700000 21900000  3300000  9800000 12100000  3000000 16800000
 12600000  1700000  8800000 13700000 10000000  6300000 15200000 22000000
  8300000 11300000 14400000 11100000  3100000 15500000  3500000 13800000
  9000000 14100000 14800000  8500000 18700000  2800000  9200000 20000000
  4100000 22800000 16500000  6000000 23200000  5000000 25600000 24500000
 13400000 14000000 16000000 18100000  8000000  9900000 17200000  1800000
  1400000 10400000  4200000  6900000 16600000  9600000 17400000  8400000
 11900000 10500000  5900000  7200000 14200000 22900000  4300000 16900000
  6200000 12500000 15700000  9300000 18000000  8200000 10700000  4800000
 10200000 21500000 12900000  4600000 15600000 10600000  5200000 21700000
 11000000 23300000 20800000 23000000 11800000 21100000 10900000  2000000
 15800000 23400000 13500000 23900000 17300000 18300000 19400000 22100000
 12000000 24000000  6700000 13900000 20600000 25400000  7500000 10100000
 17700000 28300000 11200000 18800000 14500000 24900000 26300000 13300000
 22400000 27600000 21400000 28700000 25300000 25800000 18600000 19100000
 22200000 28200000 19700000 25200000 24700000 16700000 17000000 16300000
 15000000 21300000 12800000 20300000 12300000 19900000 16200000 19000000
 16400000  8900000 22700000 25700000 21200000 27000000 21600000 17800000
 28500000 14900000 17900000 28400000 23700000 20500000 24600000 20100000
 22600000 20900000 21000000 26600000 26200000 19800000 17500000 28000000
 24800000 26900000 26100000 20700000 29100000 18900000 25100000 23500000
 24300000 27500000 25000000 23100000 27400000 27300000]
-100000
0
[17600000  2200000  4500000  3300000  8200000  8300000 14800000  5700000
   800000  1400000  4700000  5800000  9600000 16600000  1200000  3900000
   100000  2800000        0  3500000  1600000 11300000  1700000   600000
  8700000  3100000 10600000  4200000 11900000 12400000  5200000  7400000
   200000   700000   300000  1300000 11200000 12100000  1500000  6300000
  6900000  9100000  8600000 10500000  1800000  9300000  5600000 10300000
  4900000 16300000  1900000  6100000  9700000 11700000  9400000  3800000
  2500000  7800000  8900000   500000 11400000 13600000  2600000  4300000
  3200000  1100000   400000  4800000  8500000 15200000  3600000 16500000
  2700000  7600000  6000000 12200000  2000000  1000000  6200000  8000000
  5900000  4100000  6500000 10000000 16700000   900000  2100000  9500000
  5500000  4400000 18700000  5100000 11100000 12600000  5000000  6800000
  2400000  7500000  2900000 10900000 11000000 11600000  2300000  3400000
 11500000  8100000  5300000  6700000 10200000 10800000  4000000  4600000
  7000000  6600000 17500000 16200000 12300000 12800000 13200000 16400000
 19000000 16100000  8800000  3700000  5400000  8400000 12000000 15000000
  9200000 17200000 11800000 14900000 13800000  7900000 10400000 18500000
 12500000 13400000  9900000 12700000 15400000 14700000 15600000 14000000
 16000000 13000000 14300000  9800000 18800000 13900000  7200000  7100000
 15100000 15500000 13300000  3000000 13700000  7300000 17800000  6400000
 17900000 12900000 14600000 10100000 18300000  9000000 14500000 14200000
 17300000 13100000 10700000 16800000 18900000 18400000 18200000 14100000
 14400000  7700000 17000000 15900000 15300000 19400000 16900000 13500000
 17400000 15700000 15800000 17700000]
0
[22700000  8800000 33300000 23300000 29400000 13700000 29200000 11800000
  2800000  3300000  9500000 20400000 14600000 20900000  5900000 16400000
  1300000  6700000  6200000 23500000 18000000 22200000 19500000  1100000
 10000000  6600000 25300000  5400000 27500000 33700000 25500000 21700000
  2200000 19900000 19000000  6000000  5300000 16700000  5600000 31000000
  3900000  1800000 16200000 21400000  8700000 17700000 18500000 37700000
 20500000 21800000  9300000 31900000 19400000 16300000 34600000 17500000
 18600000 25900000 26500000 27400000 10500000 13100000 14900000 24100000
  4900000  1900000 11900000 21500000 12600000  4800000 12900000 35400000
 25200000  2400000 12300000 26600000 10300000 11000000  3800000 27900000
 23400000 12500000 22400000  3200000   700000 18200000 23200000 36400000
 13800000  1200000   500000 11400000  4100000 23800000 20800000  9900000
 11700000   900000 17900000 19300000 33400000  7700000 22600000  1500000
 23600000  2700000  2000000   800000 15500000 33900000 25700000  4400000
 13900000  8600000  7500000  7400000 12800000 24500000  2100000  5100000
  7200000 18800000 18100000  2900000 36100000 14000000  8400000 27800000
  8000000 10400000 17800000  4300000 27000000 16000000  5000000 23100000
 18700000  9700000 17400000  6500000 33800000  5700000 20000000  8200000
 14300000 26300000 26900000 26400000 27700000 24000000 22500000 28000000
 31800000 12200000 38200000 38600000 19600000 21900000  3500000 27200000
  3700000 15000000 34700000 23700000  8500000 10600000 16100000 21200000
 13600000  7000000 18400000  7100000 14700000  9600000 11200000 24300000
 20300000  6400000 23000000 25000000  6300000 22800000 31600000 29700000
 29100000 30800000 13000000 26000000 14500000 16800000 29500000 28200000
 19100000 26700000  5200000  4600000  7900000 16900000  9800000 15600000
 30500000 30200000 12400000  3000000 20100000  8900000 19800000 35500000
 28500000 25400000 16500000 17200000  4700000 28800000  3600000   400000
 14200000 14800000 14100000 22900000 26100000 36500000 28600000 34500000
 30900000  6900000  2300000 25100000 28900000 14400000 29900000  7600000
 37000000 15800000  1400000 33500000 13500000   300000 13200000  1600000
  8100000  5800000 10900000 11300000 10200000 13300000 34900000 17300000
 22000000 32100000 20700000 26800000 27100000 10100000 21000000 19700000
   600000  7300000 32000000 22100000  2600000  9100000 31100000 32700000
 32800000 24900000  5500000 32600000  3400000  9000000 12700000  6800000
 17100000 20200000 10800000 34100000 26200000 29000000 11600000 31300000
 28400000 11100000 12000000 12100000 17000000 15100000 28300000 16600000
 15300000 18900000 23900000 24400000 17600000 11500000 21100000 30000000
 29600000 15200000 27600000 20600000 30400000  9400000  7800000 18300000
  4200000  8300000 30100000 25800000  1700000 21600000 29300000 35700000
  4500000 30300000 10700000 24800000 31500000 24700000 19200000 13400000
 35100000 35600000 15900000 33000000 31700000  9200000  6100000 15400000
  2500000 24600000 35800000 22300000 34300000 36600000  3100000 28700000
 36900000 28100000 32500000 38100000 39200000 15700000 37800000 27300000
 31200000 39100000 21300000 24200000 37200000 37900000 25600000 33600000
 30600000 32900000 37400000 34000000  1000000 37600000 35900000 32300000
 32400000 31400000 30700000 34400000  4000000 32200000 29800000 33200000
 34800000 36000000 36200000 36800000 35300000 38000000 33100000 37300000
 34200000 35000000 36700000]
300000
[ 8000000  3300000 12800000  7900000  5000000  5100000  4300000  6000000
   600000  1600000  3100000  6400000  1900000  4400000   700000  5900000
  6100000  5400000  8500000   300000  2600000  7200000  2500000  9700000
  9300000  1000000  5800000   900000  1400000  7100000  2900000  9000000
  5200000   800000 10900000  4900000  6500000  8200000 11700000 10500000
 11300000  3400000  6200000  8700000  4100000  4800000 11400000  4700000
  2800000 11900000  5500000  2400000  4200000  7600000  5600000  2000000
  1100000  6300000 11100000  8600000  6800000  3600000 10200000 12700000
  2100000  1300000   400000  7000000  7300000   100000   200000 11600000
  1800000  9800000  8100000  7500000 13400000  9600000  3800000  8400000
  3200000  1200000  4600000  8300000  4500000  3500000  2300000  7400000
  1700000  9500000  3000000  2200000  9200000  4000000 11200000   500000
  9400000 14400000 10000000  6600000 12500000  1500000  9100000  7700000
  7800000 10300000  9900000  8800000  5700000 10400000 11800000  5300000
 12400000  2700000 11500000  3900000        0 10800000  6700000 12900000
 12300000  6900000 12200000 13500000  8900000  3700000 12100000 13600000
 13100000 10600000 13900000 12000000 13000000 10100000 10700000 11000000
 13200000 14700000 14000000 13300000 13800000 14600000 14300000 14200000
 13700000 14100000]
0

Por último, para facilitar el desarrollo de los distintos modelos, vamos a renombrar las columnas y vamos a guardar el resultado en un archivo csv, de manera que para cada nueva evaluación se cargue el fichero ya limpio.

In [17]:
columnas = {'no_of_dependents':'Personas a cargo',
            'income_annum': 'Ingreso Anual',
            'loan_amount': 'Cantidad del prestamo',
            'loan_term' : 'Plazos',
            'cibil_score': 'Puntos CIBIL',
            'residential_assets_value': 'Activos residenciales',
            'commercial_assets_value': 'Activos comerciales',
            'luxury_assets_value': 'Activos de lujo',
            'bank_asset_value': 'Activos bancarios',
            'self_employed_Yes': 'Autonomo',
            'education_Not Graduate': 'No graduado',
            'loan_status_Rejected': 'Prestamo rechazado'
}

_prestamos.rename(columns=columnas, inplace=True)
_prestamos.to_csv('dataset_clean.csv', index=False)

# Evaluación  
Aquí va la predicción como tal (añadir gráficas si es posible)

### KNN  
desarrollo

In [ ]:
import pandas as pd
data = pd.read_csv('dataset_clean.csv')

# Conclusiones  
Conclusiones sacadas del estudio